#archived_class_section {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
    margin-top: 20px;
  }
  a {
    color: rgb(26, 115, 232);
    margin: 20px 0;
  }
}
