// calendar sectio start 
.calendar_section{

.calendar_section_top{
    max-width: 1200px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .select_opt{
        height: 48px;
        width: 340px;
    }

    .calendar_section_top_date{
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
            margin-bottom: 3px;
        }

    }

}

}
// calendar section  end 